 .mititulo{
            text-align: center;
            color:blue;
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
            font-weight: bolder;
        }